{% extends 'base.html' %}
{% block title %}About Us{% endblock %}

{% block content %}
<!--main-->
<section class="section">
    <div class="container">
        <div class="row align-align-items-center">
            <div class="col-md-4 me-auto">
                <h1 class="section-heading">About Us</h1>
                <p class="section-subheading text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Tenetur at reprehenderit optio, laudantium eius quod, eum maxime molestiae porro omnis. Dolores aspernatur delectus impedit incidunt
                    dolore mollitia esse natus beatae.</p>
            </div>
            <div class="col-md-4 me-auto">
                <img src="/static/images/img5.jpg" alt="aboutus" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="d-flex flex-row-reverse">
            <div class="col-md-4 me-auto">
                <h1 class="section-heading">Our Mission</h1>
                <p class="section-subheading text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Tenetur at reprehenderit optio, laudantium eius quod, eum maxime molestiae porro omnis. Dolores aspernatur delectus impedit incidunt
                    dolore mollitia esse natus beatae.</p>
            </div>
            <div class="col-md-4 me-auto">
                <img src="/static/images/img4.jpg" alt="aboutus" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="d-flex flex-row-reverse">
            <div class="col-md-4 me-auto order-3">
                <h1 class="section-heading">Our Community</h1>
                <p class="section-subheading text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Tenetur at reprehenderit optio, laudantium eius quod, eum maxime molestiae porro omnis. Dolores aspernatur delectus impedit incidunt
                    dolore mollitia esse natus beatae.</p>
            </div>
            <div class="col-md-4 me-auto">
                <img src="/static/images/img3.jpg" alt="aboutus" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<br>
<div class="row text-center">
    <h2 class="fw-normal">Meet our Team</h2>
</div>
<div class="row">
    <div class="col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="feature-1 text-center">
            <div class="rounded">
                <img src="/static/images/person.jpg" alt="aboutus" class="img-fluid" style="width:25%; height:25%; margin-top: 50px; margin-bottom: 50px;">
            </div>
            <div class="wrap-icon icon-1">
                <span class="icon flaticon-pet"></span>
            </div>
            <h3 class="mb-3">Jane Smith</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quae.</p>
        </div>
    </div>
    <div class="col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
        <div class="feature-1 text-center">
            <div class="rounded">
                <img src="/static/images/person.jpg" alt="aboutus" class="img-fluid" style="width:25%; height:25%; margin-top: 50px;margin-bottom: 50px;">
            </div>
            <div class="wrap-icon icon-1">
                <span class="icon flaticon-veterinarian"></span>
            </div>
            <h3 class="mb-3">John Smith</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quae.</p>
        </div>
    </div>
    <div class="col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
        <div class="feature-1 text-center">
            <div class="rounded">
                <img src="/static/images/person.jpg" alt="aboutus" class="img-fluid" style="width:25%; height:20%; margin-top: 50px;margin-bottom: 50px;">
            </div>
            <div class="wrap-icon icon-1">
                <span class="icon flaticon-veterinarian-1"></span>
            </div>
            <h3 class="mb-3">Jenny Smith</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quae.</p>
        </div>
    </div>
</div>
<!--end of main-->
{% endblock %}
